h1, h2, h3, h4, h5, p {
  font-family: "ingra", sans-serif;
}

h3 {
  font-size: 16pt;
}

p {
  font-weight: lighter;
  font-size: 13.5pt;
  line-height: 1.4em;
}

body {
  background-image: url("../images/background.png");
  background-repeat:repeat;
}

.container {

}

.header {
  text-align: center;
  margin: 20px 0;
}


.left .photo img {
  width:100%;
  border: 2px solid white;
}

.left .thumbnails {
  display:inline-block;
}

.left .thumbnails img {
  width:20%;
  padding:0;
  margin:0;
  display:block;
  float:left;
  cursor: pointer;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.left .thumbnails img:first-of-type {
  border-left: 2px solid white;
}

.right {
  padding-left:30px;
  padding-right:30px;
}

.footer {
  padding-left:30px;
  padding-right:30px;
  display:inline-block;
}

.footer img {
  border: 2px solid white;
}

.footer .float-left, .footer .float-right {
  diplay:inline-block;
  float-left;
}

.footer .float-left img {
  width:56%;
}

.footer .float-right img {
  width:42.5%;
}

@media (min-width: 768px) {

  .left .photo {
    padding-right:0;
  }

}

@media (min-width: 992px) {

  .container {
    width: 900px;
    margin: 0 auto;
    display:block;
    height:1000px;
  }

  .header {
    margin: 20px 0 40px;
  }

  .left .photo {
    padding:0px;
  }

  .left .photo img {
    width:100%;
  }

  .left .thumbnails {
    padding:0px;
  }

  .right {
    padding-left: 40px;
  }

  .footer {
    text-align: center;
    margin: 40px 0;
  }

  .footer h3 {
    padding-bottom: 40px;
  }

  .footer .float-left img, .footer .float-right img {
    height: 80px;
    width:auto;
  }

  .footer .float-left {
    diplay:block;
    float:left;
  }

  .footer .float-right {
    diplay:block;
    float:right;
  }

}
